<div class="todos">
  <form>
    <input
      type="text"
      name="inputToDo"
      placeholder="Enter todo ..."
      class="todo-input"
      [(ngModel)] = "inputToDo"
    />
    <input type="submit" value="Add Todo"(click)="addToDo()" class="todo-submit">
  </form>
  <div
    class="todo {{ todo.completed ? 'done' : '' }} "
    *ngFor="let todo of todos; let i = index"
  >
    <div class="id">{{ i + 1 }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <div class="delete" (click)="deleteToDo(i)">Remove</div>
  </div>
</div>
